import Button from './button.marko';
import Counter from './counter.marko';

<!doctype html>
<html>
<head>
  <title>Marko Example</title>
</head>
<body>
<h1 id="content">Hello, Marko!</h1>
  <div>The test was successful and the Marko pages loaded! Click the buttons below:</div>
  <Button label="Click me!" />
  <Counter />
  <script>
  </script>
</body>
</html>

